<div style="margin-top: 10px">
  <div class="mb-3">
    <label
      for="formFile"
      id="customFileLabel"
      class="form-label"
      style="margin-bottom: 15px"
      >Selecionar arquivo</label
    >
    <input
      class="form-control"
      style="padding: 4px"
      type="file"
      id="formFile"
      (change)="onChange($event)"
      multiple
    />
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width]="progress + '%'"
      >
        {{ progress }}
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    id="fileButton"
    (click)="onUpload()"
    [disabled]="!inputFile"
  >
    Enviar
  </button>
</div>
